@use '../abstracts/index' as abs;

.hero {
  display: flex;
  padding: 50px;
  margin-top: 20px;

  &__content {
    flex: 1;
    max-width: 50%;

    &::before {
      content: '';
      position: absolute;
      top: -387px;
      left: 880px;
      width: 100%; // O un porcentaje como 60% si no cubre todo
      height: 100%; // O un vtop: -347px;alor fijo como 400px si es una sección
      background-color: #A9D6CB;
      z-index: -1; // Detrás del contenido
      opacity: 0.8; // Ajusta la transparencia si es necesario
      background-image: url(/Header-Spa-Beauty/img/Vector.svg);
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: -36px 549px;
    }

    h1 {
      font-size: 2.5em;
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1.2;
      color: abs.$dark-blue;
    }
    
    p {
      font-size: 1em;
      line-height: 1.6;
      margin-bottom: 30px;
      color: #333333;
    }

    &>p:nth-child(2) {
      color: #909090;
    }

    .hero__buttons {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      img {
      width: 30px; // Mantiene tu tamaño
      height: 30px; // Asegura proporción cuadrada para círculo
      border-radius: 50%; // Recorta a círculo
      box-shadow: 0 4px 8px rgba(17, 17, 17, 0.2); // Sombra en el círculo
      overflow: hidden; // Asegura que la sombra no se extienda más allá
      }
    }
  }
  
  &__stats {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .stat {
          text-align: center;
          padding: 20px;
          border-radius: 10px;

          img {
            width: 70px;
            height: 70px;
            margin-bottom: 10px;

            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.05);
            }
          }

          .number {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 5px;
            color: #1f2c45;
          }

          p {
            font-size: 0.9em;
            color: #666666;
            margin: 0;
          }
        }
      }
  
  &__image {
    padding-right: 170px;
    position: relative;

    img {
      width: 550px; 
      height: auto;
      display: block;
    }
    
    .testimonial {
      background-color: rgba(255, 255, 255, 0.4); 
      padding: 26px 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(143, 143, 143, 0.1); 
      backdrop-filter: blur(5px);
      margin: 15px 0;
      color: black; 
      position: absolute; 
      max-width: 240px;
      background-image: url(/Header-Spa-Beauty/img/comillas.svg);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 20px 8px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }

      p {
        margin: 0 0 10px 0;
        font-size: 0.9em;
        line-height: 1.5;
      }
      
      .author {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 0.85em;
        color: #1f2c45; 
        text-align: left;
        font-weight: bold;
      }
      
      &--top {
        top: 161px;
        right: -5px;
      }
      
      &--bottom {
        bottom: 41px;
        right: 92px;
      }
    }
  }
}
