@use '../abstracts/index' as abs;

.hero {
  display: flex;
  padding: 50px;
  margin-top: 20px;

  &__content {
    flex: 1;
    max-width: 50%;
    padding-right: 40px;

    h1 {
      font-size: 2.5em;
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1.2;
    }
    
    p {
      font-size: 1.1em;
      line-height: 1.6;
      margin-bottom: 30px;
      color: #333333;
    }

    .hero__buttons {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }
  }
  
  &__stats {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .stat {
          text-align: center;
          padding: 20px;
          border-radius: 10px;

          img {
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
          }

          .number {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 5px;
            color: #1f2c45;
          }

          p {
            font-size: 0.9em;
            color: #666666;
            margin: 0;
          }
        }
      }
  
  &__image {
    padding-right: 170px;
    position: relative;

    img {
      width: 500px; 
      height: auto;
      display: block;
    }
    
    .testimonial {
      background-color: rgba(255, 255, 255, 0.5); 
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
      backdrop-filter: blur(5px);
      margin: 15px 0;
      font-style: italic;
      color: black; 
      position: absolute; 
      max-width: 240px; 
      
      p {
        margin: 0 0 10px 0;
        font-size: 0.9em;
        line-height: 1.5;
      }
      
      .author {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 0.85em;
        color: #1f2c45; 
        text-align: left;
        font-weight: bold;
      }
      
      &--top {
        top: 162px;
        right: 20px;
      }
      
      &--bottom {
        bottom: 20px;
        right: 20px;
      }
    }
  }
}
