@use '../abstracts/index' as abs;

.header {
  display: grid;
  grid-template-columns: 20% 50% 30%;;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  &__logo {
    flex-shrink: 0;
    img {
      padding-left: 35%;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__nav {
    text-align: center;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      margin: 0;
      padding: 0;
      padding-left: 30px;

      li {
        a {
          text-decoration: none;
          color: #333333; // Ajusta según Figma
          font-size: 16px;
          font-weight: 500;
          padding: 5px 10px;
          transition: color 0.3s ease;

          &:hover {
            color: #007bff; // Color de hover, ajusta según Figma
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 70px;
  }
}