@use '../abstracts/index' as abs;

.header {
  display: grid;
  grid-template-columns: 20% 50% 30%;;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  &__logo {
    flex-shrink: 0;
    img {
      padding-left: 35%;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__nav {
    text-align: center;

    ul {
      list-style: none;
      display: inline-flex;
      justify-content: center;
      gap: 50px;
      margin: 0;
      padding: 0;
      padding-right: 50px;

      li {
        a {
          text-decoration: none;
          color: abs.$dark-blue; // Ajusta según Figma
          font-size: 16px;
          font-weight: 500;
          transition: color 0.3s ease;

          &:hover {
            color: #007bff; // Color de hover, ajusta según Figma
          }
        }
      }
    }
  }

  &__right {
    display: flex;

    .header__icons {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    
    .header__auth {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-left: 10px;
      gap: 30px;

      li:first-child a {
          color: abs.$dark-blue;
          font-weight: 400;
        }
    }
  }
}