.header {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.header__logo {
  flex-shrink: 0;
}
.header__logo img {
  padding-left: 35%;
  transition: transform 0.3s ease;
}
.header__logo img:hover {
  transform: scale(1.05);
}
.header__nav {
  text-align: center;
}
.header__nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  padding-right: 50px;
}
.header__nav ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.header__nav ul li a:hover {
  color: #007bff;
}
.header__right {
  display: flex;
}
.header__right .header__icons {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__right .header__auth {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 30px;
}

.hero {
  display: flex;
  padding: 50px;
  margin-top: 20px;
}
.hero__content {
  flex: 1;
  max-width: 50%;
  padding-right: 40px;
}
.hero__content h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}
.hero__content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #333333;
}
.hero__content .hero__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.hero__stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.hero__stats .stat {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.hero__stats .stat img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.hero__stats .stat .number {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
  color: #1f2c45;
}
.hero__stats .stat p {
  font-size: 0.9em;
  color: #666666;
  margin: 0;
}
.hero__image {
  padding-right: 170px;
  position: relative;
}
.hero__image img {
  width: 500px;
  height: auto;
  display: block;
}
.hero__image .testimonial {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 15px 0;
  font-style: italic;
  color: black;
  position: absolute;
  max-width: 240px;
}
.hero__image .testimonial p {
  margin: 0 0 10px 0;
  font-size: 0.9em;
  line-height: 1.5;
}
.hero__image .testimonial .author {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 0.85em;
  color: #1f2c45;
  text-align: left;
  font-weight: bold;
}
.hero__image .testimonial--top {
  top: 162px;
  right: 20px;
}
.hero__image .testimonial--bottom {
  bottom: 20px;
  right: 20px;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #264065;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-primary:hover {
  background-color: rgb(24.0575539568, 40.5179856115, 63.9424460432);
  color: #ffffff;
}
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 64, 101, 0.2);
}

.btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  color: #264065;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #264065;
}
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

html * {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */